/* BELOW 1208px */
@media (max-width: 75em) {
  .hero-title {
    font-size: 2.7rem;
  }
}

/* BELOW 944px  */
@media (max-width: 61.5em) {
  .hero-title {
    font-size: 2.2rem;
  }
  .info-mockup-img {
    width: 80%;
  }
  .info-data-cards-grid {
    column-gap: 14rem;
  }
  .features-text-box {
    padding: 0 4rem;
  }
  .footer-section-1 {
    margin-left: 3rem;
  }
}

/* 880px */
@media (max-width: 55em) {
  .footer-section-1 {
    margin-left: 0;
  }
}

/* 824px */
@media (max-width: 51.5em) {
  .footer-logo {
    height: 1.9rem;
  }
  .footer-info-p,
  .footer-contact-span,
  .footer-info-p-news {
    font-size: 0.95rem;
  }
  .footer-info-p,
  .footer-info-p-news {
    width: auto;
  }
  .contact-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  .social-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  .footer-news-title {
    font-size: 1.3rem;
  }
}

/* 832px
@media (max-width: 52em) {
  .hero-title {
    font-size: 1.9rem;
  }
  .info-data-cards-grid {
    column-gap: 10rem;
  }
  .features-1-container {
    padding: 2rem 0;
  }
  .features-text-title {
    font-size: 1.5rem;
  }
  .features-text-box {
    padding: 0 2rem;
  }
  .features-text-p {
    font-size: 0.9rem;
  }
  .section-cta {
    margin: 3rem 0;
  }
  .footer-section-1,
  .footer-section-2 {
    padding: 0;
  }
} */

/* BELOW 400px */
/* Ver que onda aqui, si lo dejo menos a 480 o a 375 */
/* agregar tablets a 730 algo de media querie */
/* Cambiar tamaño de la fuente en la section features (la de img y text) */
@media (max-width: 30em) {
  .header {
    padding: 1rem;
  }
  .main-nav-btn {
    margin: 0;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
  }
  .hero-title {
    font-size: 1.8rem;
    padding: 0 0.5rem;
  }
  .hero-p {
    font-size: 0.98rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .info-mockup-img {
    width: 100%;
  }
  .info-data-cards-grid {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 5rem;
  }
  .grid--2-columns {
    grid-template-columns: 1fr;
  }
  .features-1-container {
    padding: 2rem 0;
    row-gap: 4rem;
  }
  .features-text-box {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    text-align: center;
  }
  .features-text-img {
    grid-row: 1;
  }
  .features-text-p {
    padding: 0 2rem;
  }
}
