* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 3rem;
}
.header-logo {
  width: 80%;
}
.main-nav-list {
  list-style: none;
}
.main-nav-btn {
  color: hsl(322, 100%, 66%);
  padding: 0.5rem 1.3rem;
  background-color: white;
  border: 2px solid hsl(322, 100%, 66%);
  border-radius: 2rem;
  margin-right: 1rem;
  transition: all 0.3s linear;
}

.main-nav-btn:hover {
  cursor: pointer;
}

.container {
  max-width: 92rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.section-hero,
.section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;

  margin-top: 7rem;
}
.hero-title {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.hero-p {
  max-width: 30rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.hero-btn {
  display: inline;
  padding: 1rem 3rem;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 2rem;
  text-decoration: none;
}

.info-data-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
