* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 3rem;
}
.header-logo {
  width: 80%;
}
.main-nav-list {
  list-style: none;
}
.main-nav-btn {
  color: hsl(322, 100%, 66%);
  padding: 0.5rem 1.3rem;
  background-color: white;
  border: 2px solid hsl(322, 100%, 66%);
  border-radius: 2rem;
  margin-right: 1rem;
  transition: all 0.3s linear;
}

.main-nav-btn:hover {
  cursor: pointer;
}

.container {
  max-width: 92rem;
  padding: 0 1rem;
  margin: 0 auto;
}


.grid--2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid--center {
  justify-items: center;
  align-items: center;
}

.section-hero,
.section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;

  margin-top: 7rem;
}
.hero-title {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.hero-p {
  max-width: 30rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.hero-btn {
  display: inline;
  padding: 1rem 3rem;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 2rem;
  text-decoration: none;
}
/* Think about use max width in the grid cards or only use column gap */
.info-data-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  column-gap: 25rem;
  margin-top: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-icon {
  align-self: flex-start;
  width: 20%;
}

.info-card-number {
  font-size: 4rem;
}

.info-card-p {
  margin-top: 0.5rem;
  color: black;
  opacity: 0.5;
}
.img-curve-top {
  /* margin-bottom: -0.3rem; */
  width: 100%;
}
.img-curve-bottom {
  /* margin-bottom: -0.3rem; */
  width: 100%;
}
/* Hacer toda la featured section con un flexbox direction column
quitar el container a todo e ir aplicandolo por seccion */
.section-features {
  display: flex;
  flex-direction: column;
}
/* usar nth child for only apply color to the odds */
.features-1-container {
  max-width: 92rem;
  padding: 0 !important;
  margin: 0 auto;
  background-color: #f6fbff;
}
.features-text-img {
  width: 50%;
}
.features-grow-img {
  width: 100%;
}
.features-text-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.features-text-p {
  max-width: 30rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

/* --- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
